{% extends "layout.html" %}

{% block content %}

  <body>
    <div id="wrapper">
        <div class="content">
          <h2>ようこそう!</h2>
        </div>

        <div class="content">
          <h3>Robinhood stocks</h3>
          <input type="text" value="" id="asin_text">
        </div>

        <div id="hero">
        <!--
          <div id="scattertable">
            <script>
              var tables = {{table | safe}};
              Plotly.plot("scattertable",tables,{});
            </script>
          </div>
        -->
          <div id="lines">
            <script>
              var charts = {{linechart | safe}};
              Plotly.plot("lines",charts,{});
            </script>
          </div>
        </div>

    </div>

  </body>



{% endblock %}
